<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <title>Audio Loader</title>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <form>
      <div class="files">
        <article>
          How to use AuLo: <br>
          1st variable: name of output file <br>
	  2nd variable: URL - favourably share link <br>
	  3rd variable: start time in seconds <br>
          4th: end time in seconds <br>
          example: meme_sound https://youtu.be/GPXkjtpGCFI 5 13 <br>
        </article>
      </div>
    </form>
  </body>
</html>
